body {
    margin: 0px;
}

.titulo {
    text-decoration: none !important;
    color: black !important;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 90px;
}

@media (max-width: 400px) {
    .titulo {
        display: inline-flex;
        margin-right: 1em;
        margin-left: 0.5em;
        font-size: 40px;
    }
}

@media (max-width: 576px) and (min-width: 400px) {
    .titulo {
        display: inline-flex;
        margin-right: 1em;
        margin-left: 0.5em;
        font-size: 60px;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .titulo {
        display: inline-block;
        font-size: 70px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .titulo {
        display: inline-block;
        margin-right: 1em;
        font-size: 70px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .titulo {
        display: inline-block;
        margin-right: 1em;
        font-size: 70px;
    }
}

.nav-items {
    text-align: center;
    font-size: 1em;
    font-family: 'Cabin', sans-serif !important;

    shadow {
        background-color: rgb(38, 38, 167);
    }

    a:hover {
        background-color: rgb(38, 38, 167) !important;
        color: white !important; 
    }
}

.navbar {
    color: black !important;
    background-color: rgb(123, 123, 246) !important;
    font-family: 'Cabin', sans-serif !important;
}

main {
    background-image: url(images/wallpaper.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer {
    background-color: rgb(66, 66, 128);
    padding: 10px 10px;
    text-align: left;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    color: white;
    height: 4vw;
    margin: 0px;
    border: 0px;
    position: sticky;
    display: flex;
    align-items: center;
}

@media (max-width: 400px) {
    .footer {
        height: 30vw;
    }
}

@media (max-width: 576px) and (min-width: 400px) {
    .footer {
        height: 20vw;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .footer {
        height: 12vw;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .footer {
        height: 8vw;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .footer {
        height: 5.5vw;
    }
}

.paws {
    text-align: center;
}

@media (max-width: 768px) {
    .paws {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .paws {
        font-size: 16px;
    }
}

header {
    background-color: rgb(123, 123, 246) !important;
}